.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.button_color{
    width: 650px;
    height: 65px;
    color: #242424;
    border: 5px solid #242424;
    border-radius: 25px;
    border-style: none dotted;
    background-color: transparent;
    margin: 15px;
}
.button_color:hover{
    background-color:   rgba(255, 255, 255, 0.1);
}
.MuiCollapse-root{
    margin: 10px 40px 10px 40px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-align: left;
}
.display_li{
    text-align: left;
    font-size: 30px;
}
/************************** tablette max 768px ************************/
@media (max-width:768px){
    .button_color{
        width: 300px;
    }
  }
  /************************** mobile max 425px ************************/
  @media (max-width:425px){
    .container{
        padding: 5px;
    }
    .button_color{
        width: 250px;
    }
  }