footer{
    color: white;
    background: #C2B280;
    width: 100%;
    height: auto;
    position:absolute;
    margin-bottom: 0px;
}
.footer_display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_icone{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icone{
    width: 90px;
    height: 90px;
    color: white;
    margin: 20px;
}
.mode_button{
    background-color:#C2B280;
    border: none;
  }
  .mode_button_img{
  width: 40px;
  height: 40px;
  background-color:#C2B280;
  }
.footer_p{
    font-size: 20px;
}