.swiper{
  margin: 25px 100px 25px 100px;
}
.swiper-button-prev,.swiper-button-next{
  color: white;
}
.swiper-button-prev{
  left: 300px;
  right: auto;
}
.swiper-button-next{
  right: 300px;
  left: auto;
}
.swiper-pagination{
  margin-top: 20px;
}
:root {
  --swiper-theme-color: #ffffff;
}
.carousel_item{
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
    border-style: dotted none;
    border-radius: 60px;
    padding: 20px;
    margin: auto;
    position: relative;
}
.carousel_item_img{
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    background-color: grey;
    object-fit: fill;
}
.carousel_item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.5); /* Couleur de fond gris clair transparent */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 61px;
}
.carousel_item:hover .carousel_item_overlay {
  opacity: 1;
  border-radius: 61px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(133, 132, 132);
  border: 4px solid white;
  border-style: none none dotted none;
  border-radius: 35px;
  padding: 20px;
  max-width: 1300px;
  width: 100%;
  height: auto;
  outline: none;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.modal h2 {
  margin-top: 0;
}
.modal img{
  border-radius: 10px;
  width: 250px;
  height: 300px;
  object-fit: fill;
}
.modal a {
  display: block;
  margin-bottom: 10px;
}
.modal ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}
.modal li {
  margin-bottom: 5px;
  text-align: center;
}
.modal p{
  text-align: center;
}
/************************** ordinateur portable max 1440px ************************/
@media(max-width:1440px){
  .carousel_item{
    width: 500px;
}
.modal {
  max-width: 400px;
}
}
/************************** ordinateur portable max 1024px ************************/
@media(max-width:1024px){
  .swiper{
    margin: 0px 50px 20px 50px;
  }
  .swiper-button-prev{
    left: 0px;
    right: auto;
  }
  .swiper-button-next{
    right: 0px;
    left: auto;
  }
}
/************************** tablette max 768px ************************/
@media (max-width:768px){
  .carousel_item{
    width: 300px;
}
.carousel_item_img{
    width: 150px;
    height: 200px;
}
}
/************************** mobile max 425px ************************/
@media (max-width:425px){
  .swiper{
    margin: 0px 10px 50px 10px;
  }
  .swiper-slide{
    margin-right: 0px;
  }
  .carousel_item{
    width:240px;
}
.carousel_item_img{
    width: 150px;
    height: 200px;
}
}