.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* .MuiButtonBase-root-MuiButton-root{
    color: white;
} */
.MuiButtonBase-root {
    color: white;
    /* border: 4px solid white;
    border-radius: 15px;
    border-style: none dotted; */
}
.MuiCollapse-root{
    margin: 10px 40px 10px 40px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.279);
    border-radius: 15px;
}