footer{
    color: white;
    background: #C2B280;/*linear-gradient(to top, #C2B280, white);*/
    width: 100%;
    height: auto;
    position:absolute;
    margin-bottom: 0px;
}
.footer_display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_icone{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icone{
    width: 90px;
    height: 90px;
    color: white;
    margin: 20px;
}
.enveloppe{
    display: flex;
    justify-content: center;
}
.footer_p{
    font-size: 20px;
}
/************************** ordinateur portable L max 1440px ************************/
/* @media (max-width:1440px){

} */
/************************** ordinateur portable max 1024px ************************/
/* @media (max-width:1024px){

} */
/************************** tablette max 768px ************************/
/* @media (max-width:768px){

} */
/************************** mobile max 425px ************************/
/* @media (max-width:425px){

} */