header{
    background: #C2B280; 
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column; */
}
/* .banner_nav{
  margin:auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
.mode_button{
  background-color:#C2B280;
  border: none;
}
.mode_button_img{
width: 40px;
height: 40px;
}
/*****************************    *************************************/
@media (max-width: 768px) {
header{
  height: 60px;
}
.mode_button{
  background-color:rgb(172, 172, 172);
}
}
/************************** ordinateur portable L max 1440px ************************/
@media (max-width:1440px){

}
/************************** ordinateur portable max 1024px ************************/
@media (max-width:1024px){

}
/************************** tablette max 768px ************************/
@media (max-width:768px){

}
/************************** mobile max 425px ************************/
@media (max-width:425px){

}
    /*linear-gradient(to bottom, #C2B280, white);*/