header{
    background-color: #C2B280; 
    width: 100%;
    height: 150px;
}
.mode_button{
  background-color:#C2B280;
  border: none;
}
.mode_button_img{
width: 40px;
height: 40px;
background-color:#C2B280;
}
/************************** ordinateur portable L max 1440px ************************/
@media (max-width:1440px){

}
/************************** ordinateur portable max 1024px ************************/
@media (max-width:1024px){

}
/************************** tablette max 768px ************************/
@media (max-width:768px){
  header{
    height: 75px;
  }
  .mode_button,.mode_button_img{
    background-color:rgb(172, 172, 172);
  }
}
/************************** mobile max 425px ************************/
@media (max-width:425px){

}
    /*linear-gradient(to bottom, #C2B280, white);*/