/******************** Display Main ***********************/
.containeur{
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    color:white;
}
.present_h2,.formation_h2,.competence_h2,.projet_h2,.experience_h2,.contacts_h2{
    padding: 10px;
    text-align: center;
}
/******************** Presentation ***********************/
#present,#formation,#competence,#projet,#experience,#contact{
    background-color: #C2B280;
    border-radius: 100px;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#present{
    height: auto;
    margin-top: 100px;
}
.present_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
    text-align: center;
}
.present_h1{
    padding-left: 30px;
    padding-right: 30px;
}
.display_h1{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.present_icone{
    width: 40px;
    height: 40px;
}
.present_p{
    padding: 50px;
}
/******************** Formation ***********************/
#formation{
    height: 300px;
    padding: 10px;
}
.formation_p{
    text-align: center;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}
/******************** Competence ***********************/
#competence{
    height: auto;
}
.competence_display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px;
}
.competence_front,.competence_back,.competence_base,.competence_outils{
    border: 4px solid white ;
    border-style: dotted none;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
}
.competence_li_front,.competence_li_back,.competence_li_outils{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icone{
    width: 70px;
    height: 70px;
    margin: 40px;
}
.collapse_display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collapse_display{
    text-align: center;
}
/******************** Projet ***********************/
#projet{
    height: auto;
}
/******************** Experience ***********************/
/* #experience{

} */
/******************** Contact ***********************/
#contact{
    height: auto;
    margin-bottom: 100px;
}
.enveloppe{
    display: flex;
    justify-content: center;
    align-items: center;
}
/************************** ordinateur portable L max 1439px ************************/
@media (max-width:1439px){
.icone{
    width: 70px;
    height: 70px;
    margin: 30px;
}
}
/************************** ordinateur portable max 1023px ************************/
@media (max-width:1023px){

}
/************************** tablette max 767px ************************/
@media (max-width:767px){
    .competence_display{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px;
    }
    .competence_li_front,.competence_li_back,.competence_li_outils{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #formation{
        height: auto;
    }
    .formation_p{
        font-size: 25px;
    }
}
/************************** mobile max 424px ************************/
@media (max-width:424px){

}